body {
  margin: 0; }

.contact {
  color: #333;
  font-weight: bold;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif; }
  .contact .header {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 55px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #fff; }
    @media screen and (max-width: 896px) {
      .contact .header {
        height: 63px; } }
    .contact .header-inner {
      max-width: 1024px;
      margin: 0 auto;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%; }
      @media screen and (max-width: 896px) {
        .contact .header-inner {
          display: inline; } }
      .contact .header-inner img {
        width: 200px;
        height: 50px;
        margin-left: 20px; }
        @media screen and (max-width: 896px) {
          .contact .header-inner img {
            width: 150px;
            height: 35px;
            margin: 0;
            margin-top: 13px; } }
    .contact .header button {
      display: none; }
    @media screen and (max-width: 896px) {
      .contact .header #header-btn {
        display: inline;
        position: absolute;
        top: 10px;
        right: 25px;
        background-color: transparent;
        border: none;
        cursor: pointer; }
        .contact .header #header-btn img {
          width: 40px;
          height: 40px;
          margin: 0; } }
    .contact .header ul {
      display: flex;
      justify-content: space-between;
      margin-right: 20px; }
      @media screen and (max-width: 896px) {
        .contact .header ul {
          display: none;
          list-style: none;
          margin: 0;
          background: #fff; } }
      .contact .header ul li {
        text-align: center;
        margin-left: 45px;
        list-style: none; }
        @media screen and (max-width: 896px) {
          .contact .header ul li {
            margin: 0 auto;
            position: relative;
            padding: 1em 0;
            text-align: left; }
            .contact .header ul li :after {
              content: "";
              display: block;
              height: 2px;
              background: linear-gradient(to right, #bbbbbb, transparent); } }
        .contact .header ul li a {
          font-size: 16px;
          text-decoration: none;
          color: #333; }
  .contact-ttl {
    margin-top: 100px;
    font-size: 26px;
    text-align: center; }
    @media screen and (max-width: 896px) {
      .contact-ttl {
        font-size: 18px; } }
    .contact-ttl h1 {
      position: relative;
      display: inline-block;
      margin-bottom: 1em; }
    .contact-ttl h1:before {
      content: '';
      position: absolute;
      bottom: -15px;
      display: inline-block;
      width: 60px;
      height: 5px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      border-radius: 2px; }
  .contact .form {
    width: 45%;
    height: auto;
    text-align: left;
    margin: 30px auto 50px;
    padding: 0 0 20px;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
    @media screen and (max-width: 1024px) {
      .contact .form {
        width: 90%; } }
    @media screen and (max-width: 480px) {
      .contact .form {
        width: 100%; } }
    .contact .form-name {
      margin: 0;
      background-color: #eee;
      padding: 10px; }
    .contact .form-input {
      margin: 10px 10px 20px; }
    .contact .form-btn {
      text-align: center;
      margin: 30px auto 15px;
      padding: 3px 10px;
      width: 120px;
      height: 40px;
      background: linear-gradient(to right, #87ceeb, #0bf);
      border-radius: 50px;
      box-shadow: 0 5px 4px rgba(0, 0, 0, 0.14); }
      .contact .form-btn-send {
        font-size: 20px;
        border: none;
        color: #fff;
        background-color: initial; }
  .contact .home-btn {
    text-align: right;
    width: 45%;
    margin: 0 auto; }
    @media screen and (max-width: 1024px) {
      .contact .home-btn {
        width: 90%; } }
    .contact .home-btn a {
      color: #333; }

/*# sourceMappingURL=contact.css.map */
