body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
  font-weight: bold; }

.index .header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 55px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff; }
  @media screen and (max-width: 896px) {
    .index .header {
      height: 63px; } }
  .index .header-inner {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; }
    @media screen and (max-width: 896px) {
      .index .header-inner {
        display: inline; } }
    .index .header-inner img {
      width: 200px;
      height: 50px;
      margin-left: 20px; }
      @media screen and (max-width: 896px) {
        .index .header-inner img {
          width: 150px;
          height: 35px;
          margin: 0;
          margin-top: 13px; } }
  .index .header button {
    display: none; }
  @media screen and (max-width: 896px) {
    .index .header #header-btn {
      display: inline;
      position: absolute;
      top: 10px;
      right: 25px;
      background-color: transparent;
      border: none;
      cursor: pointer; }
      .index .header #header-btn img {
        width: 40px;
        height: 40px;
        margin: 0; } }
  .index .header ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px; }
    @media screen and (max-width: 896px) {
      .index .header ul {
        display: none;
        list-style: none;
        margin: 0;
        background: #fff; } }
    .index .header ul li {
      text-align: center;
      margin-left: 45px;
      list-style: none; }
      @media screen and (max-width: 896px) {
        .index .header ul li {
          margin: 0 auto;
          position: relative;
          padding: 1em 0;
          text-align: left; }
          .index .header ul li :after {
            content: "";
            display: block;
            height: 2px;
            background: linear-gradient(to right, #bbbbbb, transparent); } }
      .index .header ul li a {
        font-size: 16px;
        text-decoration: none;
        color: #333; }
.index .message {
  margin-top: 90px;
  margin-left: 20px;
  text-align: center;
  width: 40%; }
  @media screen and (max-width: 480px) {
    .index .message {
      width: 90%; } }
  .index .message p {
    position: relative;
    color: #333;
    text-shadow: 0 0 2px white;
    background: #e0f3ff;
    z-index: -4;
    border-radius: 0 10px 10px;
    padding: 10px; }
  .index .message p:before {
    content: "";
    position: absolute;
    background: #9de5ff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    z-index: -1; }
.index .main {
  position: relative;
  margin-top: 30px;
  text-align: right; }
  @media screen and (max-width: 896px) {
    .index .main {
      text-align: center; } }
  .index .main li {
    list-style: none; }
  .index .main #slide ul {
    position: relative; }
    @media screen and (max-width: 896px) {
      .index .main #slide ul {
        padding: 0; } }
  .index .main #slide li {
    position: absolute; }
  .index .main #button {
    padding-top: 55.5%;
    text-align: center; }
    @media screen and (max-width: 896px) {
      .index .main #button {
        padding-top: 59%; } }
  .index .main #button ul {
    display: inline-block;
    padding: 0; }
  .index .main #button ul li {
    float: left;
    margin-right: 15px; }
  .index .main #button ul li:last-child {
    margin-right: 0; }
  .index .main #button ul li a {
    text-indent: -9999px;
    text-decoration: none;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background: #D9E5FF; }
    @media screen and (max-width: 896px) {
      .index .main #button ul li a {
        width: 7px;
        height: 7px; } }
  .index .main #button ul li a.target {
    background: #8eb8ff; }
  .index .main img {
    margin-top: 30px;
    width: 80%;
    height: auto; }
    @media screen and (max-width: 896px) {
      .index .main img {
        margin: 0;
        width: 87%; } }
  .index .main-post {
    position: absolute;
    top: 50%;
    left: 14%;
    text-align: left;
    display: none; }
    @media screen and (max-width: 896px) {
      .index .main-post {
        text-align: center;
        position: unset; } }
    .index .main-post-ttx1 {
      font-size: 38px;
      font-weight: bold;
      color: #333;
      margin: 0; }
      @media screen and (max-width: 896px) {
        .index .main-post-ttx1 {
          font-size: 30px; } }
    .index .main-post-ttx2 {
      font-size: 32px;
      font-weight: bold;
      color: #DCC2FF;
      margin: 0;
      margin-bottom: 25px; }
      @media screen and (max-width: 896px) {
        .index .main-post-ttx2 {
          font-size: 25px; } }
    .index .main-post-btn {
      width: 80px;
      height: 40px;
      background-color: #fff;
      display: contents;
      padding: 8px 30px;
      text-decoration: none;
      color: #333;
      font-size: 18px;
      text-align: center; }
      .index .main-post-btn a {
        transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
        display: block;
        max-width: 180px;
        text-decoration: none;
        border-radius: 4px;
        padding: 20px 30px;
        background: #fff; }
        @media screen and (max-width: 896px) {
          .index .main-post-btn a {
            margin: 20px auto; } }
        @media screen and (max-width: 480px) {
          .index .main-post-btn a {
            padding: 20px 0; } }
      .index .main-post-btn-entry {
        color: rgba(30, 22, 54, 0.6);
        box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset; }
      .index .main-post-btn :hover {
        color: rgba(255, 255, 255, 0.85);
        box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset; }
.index .search-top {
  text-align: center;
  margin: 150px 0 60px; }
  .index .search-top p {
    position: relative;
    line-height: 1.4;
    padding: 0.25em 1em;
    display: inline-block;
    top: 0; }
    @media screen and (max-width: 480px) {
      .index .search-top p {
        margin: 0 10px; } }
  .index .search-top p:before, .index .search-top p:after {
    position: absolute;
    top: 0;
    content: '';
    width: 8px;
    height: 100%;
    display: inline-block; }
  .index .search-top p:before {
    border-left: solid 1px black;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    left: 0; }
  .index .search-top p:after {
    content: '';
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    right: 0; }
  .index .search-top-ttl1 {
    font-size: 38px;
    margin-bottom: 0; }
    @media screen and (max-width: 480px) {
      .index .search-top-ttl1 {
        font-size: 30px; } }
  .index .search-top-ttl2 {
    font-size: 20px;
    color: #bbb;
    margin-top: 0;
    margin-bottom: 60px; }
.index .search-inner {
  margin: 0 auto;
  font-size: 20px; }
.index .search-ttl {
  font-size: 19px;
  margin-left: 50px; }
  @media screen and (max-width: 480px) {
    .index .search-ttl {
      margin: 0; } }
  .index .search-ttl h2 {
    margin-bottom: 5px; }
.index .search-man {
  background: #D9E5FF;
  padding: 50px; }
  @media screen and (max-width: 480px) {
    .index .search-man {
      padding: 20px; } }
.index .search-box {
  background: #fff;
  border-radius: 10px;
  padding: 43px 20px; }
  .index .search-box img {
    width: 50px;
    height: auto;
    margin: 0 20px; }
  .index .search-box-ttl {
    font-size: 20px;
    font-weight: bold; }
  .index .search-box-name {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px; }
    @media screen and (max-width: 480px) {
      .index .search-box-name {
        display: grid; } }
    .index .search-box-name a {
      color: #666;
      border: none;
      position: relative;
      height: 40px;
      font-size: 25px;
      padding: 0.2em 2em;
      cursor: pointer;
      transition: 800ms ease all;
      outline: none;
      margin: 20px; }
    .index .search-box-name :hover {
      background: #fff;
      color: #09f; }
    .index .search-box-name :before, .index .search-box-name :after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 2px;
      width: 0;
      background: #09f;
      transition: 400ms ease all; }
    .index .search-box-name :after {
      right: inherit;
      top: inherit;
      left: 0;
      bottom: 0; }
    .index .search-box-name :hover:before, .index .search-box-name :hover:after {
      width: 100%;
      transition: 800ms ease all; }
.index .search-woman {
  background: #FFD5EC;
  padding: 50px;
  margin-bottom: 60px; }
  @media screen and (max-width: 480px) {
    .index .search-woman {
      padding: 20px; } }
  .index .search-woman .search-box-name a {
    color: #666;
    border: none;
    position: relative;
    height: 40px;
    font-size: 25px;
    padding: 0.2em 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    margin: 20px; }
  .index .search-woman .search-box-name :hover {
    background: #fff;
    color: #f6c; }
  .index .search-woman .search-box-name :before, .index .search-woman .search-box-name :after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f6c;
    transition: 400ms ease all; }
  .index .search-woman .search-box-name :after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0; }
  .index .search-woman .search-box-name :hover:before, .index .search-woman .search-box-name :hover:after {
    width: 100%;
    transition: 800ms ease all; }
.index .search-tv {
  background: #FFDBC9;
  padding: 50px; }
  @media screen and (max-width: 480px) {
    .index .search-tv {
      padding: 20px; } }
  .index .search-tv a {
    color: #666;
    border: none;
    position: relative;
    height: 40px;
    font-size: 25px;
    padding: 0.2em 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    margin: 20px; }
  .index .search-tv :hover {
    background: #fff;
    color: #f90; }
  .index .search-tv :before, .index .search-tv :after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f90;
    transition: 400ms ease all; }
  .index .search-tv :after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0; }
  .index .search-tv :hover:before, .index .search-tv :hover:after {
    width: 100%;
    transition: 800ms ease all; }

/*# sourceMappingURL=index.css.map */
