body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    font-weight: bold;
}

.list {
    .header {
        position: fixed;
        top: 0;
        z-index: 9999;
        width: 100%;
        height: 55px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        background-color: #fff;
        @media screen and (max-width: 896px) {
            height: 63px;
        }
      
        &-inner {
            max-width: 1024px;
            margin: 0 auto;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            @media screen and (max-width: 896px) {
                display: inline;
            }
            
            img {
                width: 200px;
                height: 50px;
                margin-left: 20px;
                @media screen and (max-width: 896px) {
                    width: 150px;
                    height: 35px;
                    margin: 0;
                    margin-top: 13px;
                }
            }
        }
        
        button {
            display: none;
        }
        
        @media screen and (max-width: 896px) {
            #header-btn {
                display: inline;
                position: absolute;
                top: 10px;
                right: 25px;
                background-color: transparent;
                border: none;
                cursor: pointer;
                
                img {
                    width: 40px;
                    height: 40px;
                    margin: 0;
                }
            }
        }
        
        ul {
            display: flex;
            justify-content: space-between;
            margin-right: 20px;
            @media screen and (max-width: 896px){
                display: none;
                list-style: none;
                margin: 0;
                background: #fff;
            }
          
            li {
                text-align: center;
                margin-left: 45px;
                list-style: none;
                @media screen and (max-width: 896px){
                    margin: 0 auto;
                    position: relative;
                    padding: 1em 0;
                    text-align: left;
                
                    :after {
                        content: "";
                        display: block;
                        height: 2px;
                        background: linear-gradient(to right, rgb(187, 187, 187), transparent);
                    }
                }
            
                a {
                    font-size: 16px;
                    text-decoration: none;
                    color: #333;
                }
            }
        }
    }

    &-inner {
        margin: 50px;
        @media screen and (max-width: 480px){
            width: 100%;
            margin: 0;
        }
        
        .main {
            &-ttl {
                text-align: center;
                margin-top: 70px;
                font-size: 26px;
                @media screen and (max-width: 896px){
                    font-size: 18px;
                }
                
                h1 {
                    position: relative;
                    display: inline-block;
                    margin-bottom: 1em;
                }
            
                h1:before {
                    content: '';
                    position: absolute;
                    bottom: -15px;
                    display: inline-block;
                    width: 60px;
                    height: 5px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: #333;
                    border-radius: 2px;
                }
            }
            
            .message {
                margin: 50px auto;
                text-align: center;
                width: 40%;
                @media screen and (max-width: 480px){
                    width: 90%;
                }
        
                p {
                    position: relative;
                    color: #333;
                    text-shadow: 0 0 2px white;
                    background: #e0f3ff;
                    z-index: -4;
                    border-radius: 0 10px 10px;
                    padding: 10px;
                }
        
                p:before {
                    content: "";
                    position: absolute;
                    background: #9de5ff;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    top: 50%;
                    left: -15px;
                    transform: translateY(-50%);
                    z-index: -1;
                }
            }
        
            &-box {
                margin: 25px 0;
                display: flex;
                border-bottom: 1px solid #bbb;
                @media screen and (max-width: 896px){
                    text-align: center;
                    margin: 50px auto 0;
                    display: block;
                    width: 90%;
                }
                
                p {
                    margin-top: 0;
                }
                
                img {
                    width: 250px;
                    height: auto;
                    margin: 40px;
                    margin-top: 0;
                }
                
                &-content {
                    padding: 30px;
                    @media screen and (max-width: 896px){
                        padding: 0;
                    }
                    
                    a {
                        font-size: 25px;
                        color: #5507FF;
                    }
                    
                    &-comment {
                        color: #777;
                    }
                }
            }
        }
    }

    .back-btn {
        text-align: right;
        margin-right: 50px;
        
        a {
            color: #333;
        }
    }
}