body {
  margin: 0; }

.login {
  text-align: center;
  font-weight: bold;
  color: #333;
  font-family: 'Noto Sans JP', sans-serif; }
  .login-header {
    width: 100%;
    height: 55px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #fff; }
    @media screen and (max-width: 896px) {
      .login-header {
        height: 63px; } }
    .login-header-inner {
      max-width: 1024px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .login-header img {
      width: 200px;
      height: 50px;
      margin-left: 20px; }
      @media screen and (max-width: 896px) {
        .login-header img {
          width: 150px;
          height: 35px;
          margin: 0;
          margin-top: 13px; } }
  .login-main-ttl {
    font-size: 26px;
    text-align: center; }
    @media screen and (max-width: 896px) {
      .login-main-ttl {
        font-size: 18px; } }
    .login-main-ttl h1 {
      position: relative;
      display: inline-block;
      margin-bottom: 1em; }
    .login-main-ttl h1:before {
      content: '';
      position: absolute;
      bottom: -15px;
      display: inline-block;
      width: 60px;
      height: 5px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      border-radius: 2px; }
  .login-main-message {
    width: 40%;
    text-align: center;
    margin: 0 auto; }
    @media screen and (max-width: 480px) {
      .login-main-message {
        width: 90%; } }
    .login-main-message p {
      position: relative;
      color: #333;
      text-shadow: 0 0 2px white;
      background: #e0f3ff;
      z-index: -4;
      border-radius: 0 10px 10px;
      padding: 10px; }
    .login-main-message p:before {
      content: "";
      position: absolute;
      background: #9de5ff;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      top: 50%;
      left: -15px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: -1; }
  .login-main-form {
    width: 40%;
    height: auto;
    text-align: left;
    margin: 20px auto 100px;
    padding: 0 0 40px;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
    @media screen and (max-width: 1024px) {
      .login-main-form {
        width: 90%; } }
    @media screen and (max-width: 480px) {
      .login-main-form {
        width: 100%; } }
    .login-main-form-ttx {
      margin: 0;
      background-color: #eee;
      padding: 10px; }
    .login-main-form-input input {
      margin: 10px 10px 20px; }
  .login-main-btn {
    text-align: center; }
    .login-main-btn a {
      margin-top: 40px;
      font-size: 16px;
      border-radius: 50px;
      width: 60px;
      text-decoration: none;
      color: #333;
      font-weight: normal; }
  .login-main-login-btn {
    width: 120px;
    height: 40px;
    background: linear-gradient(to right, #87ceeb, #0bf);
    border-radius: 50px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.14);
    font-size: 20px;
    border: none;
    color: #fff;
    font-weight: bold; }

/*# sourceMappingURL=login.css.map */
