body {
  margin: 0; }

.new {
  color: #333;
  font-weight: bold;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif; }
  .new .header {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 55px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #fff; }
    @media screen and (max-width: 896px) {
      .new .header {
        height: 63px; } }
    .new .header-inner {
      max-width: 1024px;
      margin: 0 auto;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%; }
      @media screen and (max-width: 896px) {
        .new .header-inner {
          display: inline; } }
      .new .header-inner img {
        width: 200px;
        height: 50px;
        margin-left: 20px; }
        @media screen and (max-width: 896px) {
          .new .header-inner img {
            width: 150px;
            height: 35px;
            margin: 0;
            margin-top: 13px; } }
    .new .header button {
      display: none; }
    @media screen and (max-width: 896px) {
      .new .header #header-btn {
        display: inline;
        position: absolute;
        top: 10px;
        right: 25px;
        background-color: transparent;
        border: none;
        cursor: pointer; }
        .new .header #header-btn img {
          width: 40px;
          height: 40px; } }
    @media screen and (max-width: 896px) and (max-width: 896px) {
      .new .header #header-btn img {
        margin: 0; } }

    .new .header ul {
      display: flex;
      justify-content: space-between;
      margin-right: 20px; }
      @media screen and (max-width: 896px) {
        .new .header ul {
          display: none;
          list-style: none;
          margin: 0;
          background: #fff; } }
      .new .header ul li {
        text-align: center;
        margin-left: 45px;
        list-style: none; }
        @media screen and (max-width: 896px) {
          .new .header ul li {
            margin: 0 auto;
            position: relative;
            padding: 1em 0;
            text-align: left; }
            .new .header ul li :after {
              content: "";
              display: block;
              height: 2px;
              background: linear-gradient(to right, #bbbbbb, transparent); } }
        .new .header ul li a {
          font-size: 16px;
          text-decoration: none;
          color: #333; }
  .new .top {
    margin: 100px 0 30px;
    font-size: 26px;
    text-align: center; }
    @media screen and (max-width: 896px) {
      .new .top {
        font-size: 18px; } }
    .new .top h1 {
      position: relative;
      display: inline-block;
      margin-bottom: 1em; }
    .new .top h1:before {
      content: '';
      position: absolute;
      bottom: -15px;
      display: inline-block;
      width: 60px;
      height: 5px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      border-radius: 2px; }
  .new-inner {
    margin: 0 auto; }
    .new-inner .error {
      margin-bottom: 30px; }
      .new-inner .error ul {
        color: #f30;
        text-align: center; }
        @media screen and (max-width: 480px) {
          .new-inner .error ul {
            text-align: left;
            width: 90%;
            margin: 0 auto; } }
      .new-inner .error li {
        list-style: none; }
    .new-inner .form {
      width: 45%;
      height: auto;
      text-align: left;
      margin: 0 auto 100px;
      padding: 0 0 20px;
      border: 1px solid #eee;
      border-radius: 10px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
      @media screen and (max-width: 1024px) {
        .new-inner .form {
          width: 90%; } }
      @media screen and (max-width: 480px) {
        .new-inner .form {
          width: 100%; } }
      .new-inner .form-name {
        margin: 0;
        background-color: #eee;
        padding: 10px; }
        .new-inner .form-name .any {
          color: #aaa;
          font-weight: normal; }
        .new-inner .form-name .must {
          color: red;
          font-weight: normal; }
      .new-inner .form-input {
        margin: 10px 10px 20px; }
      .new-inner .form-btn {
        text-align: center; }
        .new-inner .form-btn-entry {
          width: 120px;
          height: 40px;
          background: linear-gradient(to right, #87ceeb, #0bf);
          border-radius: 50px;
          box-shadow: 0 5px 4px rgba(0, 0, 0, 0.14);
          font-size: 20px;
          border: none;
          color: #fff; }
        .new-inner .form-btn-back {
          margin-top: 25px;
          border: none;
          font-size: 16px;
          border-radius: 50px;
          width: 60px; }

/*# sourceMappingURL=new.css.map */
