body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
  font-weight: bold; }

.profile .header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 55px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff; }
  @media screen and (max-width: 896px) {
    .profile .header {
      height: 63px; } }
  .profile .header-inner {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; }
    @media screen and (max-width: 896px) {
      .profile .header-inner {
        display: inline; } }
    .profile .header-inner img {
      width: 200px;
      height: 50px;
      margin-left: 20px; }
      @media screen and (max-width: 896px) {
        .profile .header-inner img {
          width: 150px;
          height: 35px;
          margin: 0;
          margin-top: 13px; } }
  .profile .header button {
    display: none; }
  @media screen and (max-width: 896px) {
    .profile .header #header-btn {
      display: inline;
      position: absolute;
      top: 10px;
      right: 25px;
      background-color: transparent;
      border: none;
      cursor: pointer; }
      .profile .header #header-btn img {
        width: 40px;
        height: 40px;
        margin: 0; } }
  .profile .header ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px; }
    @media screen and (max-width: 896px) {
      .profile .header ul {
        display: none;
        list-style: none;
        margin: 0;
        background: #fff; } }
    .profile .header ul li {
      text-align: center;
      margin-left: 45px;
      list-style: none; }
      @media screen and (max-width: 896px) {
        .profile .header ul li {
          margin: 0 auto;
          position: relative;
          padding: 1em 0;
          text-align: left; }
          .profile .header ul li :after {
            content: "";
            display: block;
            height: 2px;
            background: linear-gradient(to right, #bbbbbb, transparent); } }
      .profile .header ul li a {
        font-size: 16px;
        text-decoration: none;
        color: #333; }
.profile .main {
  background-image: url(image/profile_back.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 70px;
  padding-bottom: 50px; }
  .profile .main-inner {
    width: 40%;
    margin: 0 auto;
    text-align: center; }
    @media screen and (max-width: 896px) {
      .profile .main-inner {
        width: 90%; } }
    .profile .main-inner .ttl {
      font-size: 26px;
      padding: 100px 0 30px; }
      @media screen and (max-width: 896px) {
        .profile .main-inner .ttl {
          font-size: 18px; } }
      .profile .main-inner .ttl h1 {
        position: relative;
        display: inline-block;
        margin-bottom: 1em; }
      .profile .main-inner .ttl h1:before {
        content: '';
        position: absolute;
        bottom: -15px;
        display: inline-block;
        width: 60px;
        height: 5px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        border-radius: 2px; }
    .profile .main-inner .message {
      margin: 0 auto;
      text-align: center;
      width: 90%;
      position: relative;
      z-index: 9999; }
      @media screen and (max-width: 480px) {
        .profile .main-inner .message {
          width: 90%; } }
      .profile .main-inner .message p {
        position: relative;
        color: #333;
        text-shadow: 0 0 2px white;
        background: #e0f3ff;
        z-index: -4;
        border-radius: 0 10px 10px;
        padding: 10px; }
      .profile .main-inner .message p:before {
        content: "";
        position: absolute;
        background: #9de5ff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: 50%;
        left: -15px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: -1; }
  .profile .main-image img {
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 5px; }
  .profile .main-image-btn {
    text-align: right; }
    .profile .main-image-btn a {
      font-weight: normal;
      color: #999; }
  .profile .main-content {
    font-size: 20px;
    text-align: left;
    background: rgba(255, 255, 255, 0.4);
    padding: 20px;
    margin: 20px 0; }
    @media screen and (max-width: 896px) {
      .profile .main-content {
        text-align: center; } }
    @media screen and (max-width: 480px) {
      .profile .main-content {
        margin: 10px 0; } }
    .profile .main-content-ttl {
      font-size: 16px; }
    .profile .main-content-ttx {
      font-weight: normal;
      color: #777;
      font-size: 16px; }
    .profile .main-content-btn {
      text-align: right;
      font-size: 16px; }
      .profile .main-content-btn a {
        font-weight: normal;
        color: #999; }
.profile .favorite {
  text-align: left; }
  .profile .favorite-ttl {
    text-align: center;
    font-size: 26px;
    margin-left: 50px;
    margin-bottom: 50px; }
    @media screen and (max-width: 896px) {
      .profile .favorite-ttl {
        margin-left: 0; } }
    .profile .favorite-ttl p {
      position: relative;
      display: inline-block;
      margin-bottom: 1em; }
    .profile .favorite-ttl p:before {
      content: '';
      position: absolute;
      bottom: -15px;
      display: inline-block;
      width: 60px;
      height: 5px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      border-radius: 2px; }
  .profile .favorite-list-box {
    display: flex;
    margin: 40px 70px;
    border-bottom: 1px solid #bbb;
    padding-bottom: 40px; }
    @media screen and (max-width: 896px) {
      .profile .favorite-list-box {
        text-align: center;
        margin: 0 auto;
        display: block;
        width: 90%; } }
  .profile .favorite-image {
    margin-right: 40px;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 896px) {
      .profile .favorite-image {
        margin: 0;
        display: block; } }
  .profile .favorite-content-comment {
    color: #777; }
  .profile .favorite-content a {
    font-size: 25px;
    color: #5507FF; }
.profile .back-btn {
  text-align: right;
  margin-right: 30px; }
  .profile .back-btn a {
    color: #333; }

/*# sourceMappingURL=profile.css.map */
