body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    font-weight: bold;
}

.profile {
    
    .header {
        position: fixed;
        top: 0;
        z-index: 9999;
        width: 100%;
        height: 55px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        background-color: #fff;
        @media screen and (max-width: 896px) {
            height: 63px;
        }
      
        &-inner {
            max-width: 1024px;
            margin: 0 auto;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            @media screen and (max-width: 896px) {
                display: inline;
            }
            
            img {
                width: 200px;
                height: 50px;
                margin-left: 20px;
                @media screen and (max-width: 896px) {
                    width: 150px;
                    height: 35px;
                    margin: 0;
                    margin-top: 13px;
                }
            }
        }
        
        button {
            display: none;
        }
        
        @media screen and (max-width: 896px) {
            #header-btn {
                display: inline;
                position: absolute;
                top: 10px;
                right: 25px;
                background-color: transparent;
                border: none;
                cursor: pointer;
                
                img {
                    width: 40px;
                    height: 40px;
                    margin: 0;
                }
            }
        }
        
        ul {
            display: flex;
            justify-content: space-between;
            margin-right: 20px;
            @media screen and (max-width: 896px){
                display: none;
                list-style: none;
                margin: 0;
                background: #fff;
            }
          
            li {
                text-align: center;
                margin-left: 45px;
                list-style: none;
                @media screen and (max-width: 896px){
                    margin: 0 auto;
                    position: relative;
                    padding: 1em 0;
                    text-align: left;
                
                    :after {
                        content: "";
                        display: block;
                        height: 2px;
                        background: linear-gradient(to right, rgb(187, 187, 187), transparent);
                    }
                }
            
                a {
                    font-size: 16px;
                    text-decoration: none;
                    color: #333;
                }
            }
        }
    }
    
    .main {
        background-image: url(image/profile_back.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 70px;
        padding-bottom: 50px;
        
        &-inner {
            width: 40%;
            margin: 0 auto;
            text-align: center;
            @media screen and (max-width: 896px){
                width: 90%;
            }
    
            .ttl {
                font-size: 26px;
                padding: 100px 0 30px;
                @media screen and (max-width: 896px){
                    font-size: 18px;
                }
                
                h1 {
                    position: relative;
                    display: inline-block;
                    margin-bottom: 1em;
                }
                
                h1:before {
                    content: '';
                    position: absolute;
                    bottom: -15px;
                    display: inline-block;
                    width: 60px;
                    height: 5px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: #333;
                    border-radius: 2px;
                }
            }
        
            .message {
                margin: 0 auto;
                text-align: center;
                width: 90%;
                position: relative;
                z-index: 9999;
                @media screen and (max-width: 480px){
                    width: 90%;
                }
                
                
            
                p {
                    position: relative;
                    color: #333;
                    text-shadow: 0 0 2px white;
                    background: #e0f3ff;
                    z-index: -4;
                    border-radius: 0 10px 10px;
                    padding: 10px;
                }
            
                p:before {
                    content: "";
                    position: absolute;
                    background: #9de5ff;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    top: 50%;
                    left: -15px;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    z-index: -1;
                }
            }
        }
        
        &-image {
            
            img {
                border: 1px solid #ccc;
                border-radius: 50%;
                display: inline-block;
                width: 250px;
                height: 250px;
                padding: 5px;
            }
            
            &-btn {
                text-align: right;
                
                a {
                    font-weight: normal;
                    color: #999;
                }
            }
        }
        
        &-content {
            font-size: 20px;
            text-align: left;
            background: rgba(255,255,255,0.4);
            padding: 20px;
            margin: 20px 0;
            @media screen and (max-width: 896px){
                text-align: center;
            }
            @media screen and (max-width: 480px){
                margin: 10px 0;
            }
            
            &-ttl {
                font-size: 16px;
            }
            
            &-ttx {
                font-weight: normal;
                color: #777;
                font-size: 16px;
            }
            
            &-btn {
                text-align: right;
                font-size: 16px;
                
                a {
                    font-weight: normal;
                    color: #999;
                }
            }
        }
    }
    
    .favorite {
        text-align: left;
        
        &-ttl {
            text-align: center;
            font-size: 26px;
            margin-left: 50px;
            margin-bottom: 50px;
            @media screen and (max-width: 896px){
                margin-left: 0;
            }
            
            p {
                position: relative;
                display: inline-block;
                margin-bottom: 1em;
            }
            
            p:before {
                content: '';
                position: absolute;
                bottom: -15px;
                display: inline-block;
                width: 60px;
                height: 5px;
                left: 50%;
                transform: translateX(-50%);
                background-color: #333;
                border-radius: 2px;
            }
        }
        
        &-list {
            
            &-box {
                display: flex;
                margin: 40px 70px;
                border-bottom: 1px solid #bbb;
                padding-bottom: 40px;
                @media screen and (max-width: 896px){
                    text-align: center;
                    margin: 0 auto;
                    display: block;
                    width: 90%;
                }
            }
        }
        
        &-image {
            margin-right: 40px;
            display: flex;
            align-items: center;
            @media screen and (max-width: 896px){
                margin: 0;
                display: block;
            }
        }
        
        &-content {
            
            &-comment {
                color: #777;
            }
            
            a {
                font-size: 25px;
                color: #5507FF;
            }
        }
    }
    
    .back-btn {
        text-align: right;
        margin-right: 30px;
        
        a{
            color: #333;
        }
    }
}