body {
  margin: 0; }

.review {
  color: #333;
  font-weight: bold;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif; }
  .review .header {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 55px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #fff; }
    @media screen and (max-width: 896px) {
      .review .header {
        height: 63px; } }
    .review .header-inner {
      max-width: 1024px;
      margin: 0 auto;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%; }
      @media screen and (max-width: 896px) {
        .review .header-inner {
          display: inline; } }
      .review .header-inner img {
        width: 200px;
        height: 50px;
        margin-left: 20px; }
        @media screen and (max-width: 896px) {
          .review .header-inner img {
            width: 150px;
            height: 35px;
            margin: 0;
            margin-top: 13px; } }
    .review .header button {
      display: none; }
    @media screen and (max-width: 896px) {
      .review .header #header-btn {
        display: inline;
        position: absolute;
        top: 10px;
        right: 25px;
        background-color: transparent;
        border: none;
        cursor: pointer; }
        .review .header #header-btn img {
          width: 40px;
          height: 40px;
          margin: 0; } }
    .review .header ul {
      display: flex;
      justify-content: space-between;
      margin-right: 20px; }
      @media screen and (max-width: 896px) {
        .review .header ul {
          display: none;
          list-style: none;
          margin: 0;
          background: #fff; } }
      .review .header ul li {
        text-align: center;
        margin-left: 45px;
        list-style: none; }
        @media screen and (max-width: 896px) {
          .review .header ul li {
            margin: 0 auto;
            position: relative;
            padding: 1em 0;
            text-align: left; }
            .review .header ul li :after {
              content: "";
              display: block;
              height: 2px;
              background: linear-gradient(to right, #bbbbbb, transparent); } }
        .review .header ul li a {
          font-size: 16px;
          text-decoration: none;
          color: #333; }
  .review .main {
    text-align: center; }
    .review .main-ttl {
      margin: 100px 0 30px;
      font-size: 26px; }
      @media screen and (max-width: 896px) {
        .review .main-ttl {
          font-size: 18px; } }
      .review .main-ttl h1 {
        position: relative;
        display: inline-block;
        margin-bottom: 1em; }
      .review .main-ttl h1:before {
        content: '';
        position: absolute;
        bottom: -15px;
        display: inline-block;
        width: 60px;
        height: 5px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        border-radius: 2px; }
    .review .main-inner {
      margin: 0 auto; }
      .review .main-inner .error ul {
        color: #f30;
        text-align: center; }
        @media screen and (max-width: 480px) {
          .review .main-inner .error ul {
            text-align: left;
            width: 90%;
            margin: 0 auto 30px; } }
      .review .main-inner .error li {
        list-style: none; }
      .review .main-inner .form {
        width: 45%;
        height: auto;
        text-align: left;
        margin: 0 auto 100px;
        padding: 0 0 20px;
        border: 1px solid #eee;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
        @media screen and (max-width: 1024px) {
          .review .main-inner .form {
            width: 90%; } }
        @media screen and (max-width: 480px) {
          .review .main-inner .form {
            width: 100%; } }
        .review .main-inner .form-name {
          margin: 0;
          background-color: #eee;
          padding: 10px; }
          .review .main-inner .form-name span {
            color: red;
            font-weight: normal; }
        .review .main-inner .form-input {
          margin: 10px 10px 20px; }
        .review .main-inner .form-btn {
          text-align: center;
          margin-top: 30px; }
          .review .main-inner .form-btn-entry {
            width: 120px;
            height: 40px;
            background: linear-gradient(to right, #87ceeb, #0bf);
            border-radius: 50px;
            box-shadow: 0 5px 4px rgba(0, 0, 0, 0.14);
            font-size: 20px;
            border: none;
            color: #fff; }
          .review .main-inner .form-btn-back {
            margin-top: 25px;
            border: none;
            font-size: 16px;
            border-radius: 50px;
            width: 60px; }

/*# sourceMappingURL=review.css.map */
