body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    font-weight: bold;
}

.show {
    
    .header {
        position: fixed;
        top: 0;
        z-index: 9999;
        width: 100%;
        height: 55px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        background-color: #fff;
        @media screen and (max-width: 896px) {
            height: 63px;
        }
      
        &-inner {
            max-width: 1024px;
            margin: 0 auto;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            @media screen and (max-width: 896px) {
                display: inline;
            }
            
            img {
                width: 200px;
                height: 50px;
                margin-left: 20px;
                @media screen and (max-width: 896px) {
                    width: 150px;
                    height: 35px;
                    margin: 0;
                    margin-top: 13px;
                }
            }
        }
        
        button {
            display: none;
        }
        
        @media screen and (max-width: 896px) {
            #header-btn {
                display: inline;
                position: absolute;
                top: 10px;
                right: 25px;
                background-color: transparent;
                border: none;
                cursor: pointer;
                
                img {
                    width: 40px;
                    height: 40px;
                    margin: 0;
                }
            }
        }
        
        ul {
            display: flex;
            justify-content: space-between;
            margin-right: 20px;
            @media screen and (max-width: 896px){
                display: none;
                list-style: none;
                margin: 0;
                background: #fff;
            }
          
            li {
                text-align: center;
                margin-left: 45px;
                list-style: none;
                @media screen and (max-width: 896px){
                    margin: 0 auto;
                    position: relative;
                    padding: 1em 0;
                    text-align: left;
                
                    :after {
                        content: "";
                        display: block;
                        height: 2px;
                        background: linear-gradient(to right, rgb(187, 187, 187), transparent);
                    }
                }
                
                a {
                    font-size: 16px;
                    text-decoration: none;
                    color: #333;
                }
            }
        }
    }
    
    .show-ttl {
        text-align: center;
        margin-top: 100px;
        
        h1 {
            position: relative;
            display: inline-block;
            margin-bottom: 1em;
        }
            
        h1:before {
            content: '';
            position: absolute;
            bottom: -15px;
            display: inline-block;
            width: 60px;
            height: 5px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #333;
            border-radius: 2px;
        }
    }
    
    .message {
        text-align: center;
        width: 30%;
        margin: 100px auto 0;
        
        p {
            position: relative;
            color: #333;
            text-shadow: 0 0 2px white;
            background: #e0f3ff;
            z-index: -4;
            border-radius: 0 10px 10px;
            padding: 10px;
        }
        
        p:before {
            content: "";
            position: absolute;
            background: #9de5ff;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            top: 50%;
            left: -15px;
            transform: translateY(-50%);
            z-index: -1;
        }
    }
    
    .main {
        width: 75%;
        margin: 0 auto;
        @media screen and (max-width: 896px){
            width: 100%;
        }
        
        h2 {
            padding: 0.25em 0.5em;
            color: #494949;
            background: transparent;
            border-left: solid 10px #7db4e6;
        }
        
        &-top {
            margin: 30px auto;
            width: 100%;
            @media screen and (max-width: 896px){
                width: 90%;
            }
        }
        
        &-content {
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 896px){
                display: block;
            }
            
            &-favorite-btn {
                
                input {
                    font-weight: bold;
                    border: 1px solid #FFD5EC;
                    border-radius: 20px;
                    color: #333;
                    text-shadow: 0 0 5px white;
                    padding: 0.3em 1em;
                    background: repeating-linear-gradient(-45deg, #FFABCE, #FFABCE 3px,#FFD5EC 3px, #FFD5EC 7px);
                    @media screen and (max-width: 896px){
                        float: right;
                        margin: 10px 0;
                    }
                }
            }
            
            &-ttx {
                width: 100%;
                background: rgba(0, 0, 0, 0.05);
                padding: 10px;
                @media screen and (max-width: 896px){
                    clear: both;
                    padding: 5px;
                }
                
                p {
                    margin: 0;
                    font-weight: normal;
                    color: #666;
                }
            }
            
            &-image {
                margin: 10px auto;
                @media screen and (max-width: 896px){
                    width: 100%;
                }
                
                &-list {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    padding: 0;
                    
                    li {
                        list-style: none;
                        margin: 5px;
                    }
                }
                
                &-item {
                    width: 50px;
                    
                    img {
                        width: 200px;
                        height: auto;
                    }
                }
                
            }
        }
        
        table {
            border-collapse: collapse;
            border-spacing: unset;
            width: 100%;
            
            tr {
                
                th,td {
                    width: 100%;
                    border: 1px solid #ccc;
                    padding: 15px;
                    text-align: left;
                }
                
                th {
                    width: 30%;
                    background-color: #eff;
                }
                
                td {
                    font-weight: normal;
                    color: #666;
                }
                
                #map {
                    width: 100%;
                    height: 300px;
                    border: solid 2px #ccc;
                    margin-top: 10px;
                }
            }
        }
    }
    
    .review {
        width: 75%;
        margin: 0 auto;
        @media screen and (max-width: 896px){
            width: 95%;
        }
        
        &-ttl {
            font-size: 26px;
            text-align: center;
            margin-top: 70px;
            
            h2 {
            position: relative;
            display: inline-block;
            margin-bottom: 1em;
            }
                
            h2:before {
                content: '';
                position: absolute;
                bottom: -15px;
                display: inline-block;
                width: 60px;
                height: 5px;
                left: 50%;
                transform: translateX(-50%);
                background-color: #333;
                border-radius: 2px;
            }
        }
        
        &-comment {
            width: 120px;
            height: 40px;
            background: linear-gradient(to right, #87ceeb, #0bf);
            border-radius: 50px;
            box-shadow: 0 5px 4px rgba(0,0,0,0.14);
            border: none;
            padding: 10px 30px;
            margin: 0;
            margin-bottom: 20px;
            float: right;
            @media screen and (max-width: 480px) {
                margin: 0 auto;
                float: none;
            }
            
            a {
                color: #fff;
                font-size: 20px;
                text-decoration: none;
            }
        }
        
        &-box {
            clear: both;
            border: 1px solid #ccc;
            border-radius: 20px;
            padding: 20px;
            margin: 30px 0;
            opacity: 0;
            transform: translate(0, 50%);
            transition: all 500ms;
            
            img {
                width: 200px;
                height: auto;
                margin: 5px;
            }
            
            ul {
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                @media screen and (max-width: 480px){
                    display: block;
                    text-align: center;
                }
            }
            
            li {
                list-style: none;
            }
        }
        
        .active {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
        
        &-content {
            
            &-top {
                img {
                    width: 45px;
                    border: 3px solid #ccc;
                    border-radius: 50%;
                    margin: 5px 10px 5px 5px;
                }
            }
            
            a {
                font-size: 20px;
                color: #ff773e;
                display: flex;
                align-items: center;
            }
            
            &-date {
                text-align: right;
                color: #ccc;
            }
            
            &-ttx {
                position: relative;
                display: inline-block;
                margin: 1.5em 0 1.5em 15px;
                padding: 15px;
                min-width: 120px;
                max-width: 100%;
                color: #555;
                font-size: 16px;
                background: #e0edff;
                border-radius: 10px;
            }
            
            &-ttx:before {
                content: "";
                position: absolute;
                top: 50%;
                left: -30px;
                margin-top: -15px;
                border: 15px solid transparent;
                border-right: 25px solid #e0edff;
            }
            
            &-ttx p {
                margin: 0;
                padding: 0;
            }
        }
        
        &-btn {
            text-align: right;
            @media screen and (max-width: 480px){
                text-align: center;
            }
            
            
            &-home,&-back {
                margin: 30px;
                color: #333;
            }
        }
    }
}

.overlay {
    position: absolute;
    display: none;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
}
.overlay img {
    display: inline-block;
    position: absolute;
    border: 5px solid #fff;
    width: 60vw;
}

