body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    margin: 0;
    font-size: 62.5%;
    color: #333;
}

a {
    color: #333;
}

li {
    list-style: none;
}

.header {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 55px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    @media screen and (max-width: 896px) {
        height: 63px;
    }
        
    &-inner {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        @media screen and (max-width: 896px) {
            display: inline;
        }
        
        img {
            width: 200px;
            height: 50px;
            margin-left: 20px;
            @media screen and (max-width: 896px) {
                width: 150px;
                height: 35px;
                margin: 0;
                margin-top: 13px;
            }
        }
    }

    button {
        display: none;
    }
    
    @media screen and (max-width: 896px) {
        #header-btn {
            display: inline;
            position: absolute;
            top: 10px;
            right: 25px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            
            img {
                width: 40px;
                height: 40px;
                @media screen and (max-width: 896px){
                    margin: 0;
                }
            }
        }
    }
        
    ul {
        display: flex;
        justify-content: space-between;
        margin-right: 20px;
        @media screen and (max-width: 896px){
            display: none;
            list-style: none;
            margin: 0;
            background: #fff;
        }
      
        li {
            text-align: center;
            margin-left: 45px;
            @media screen and (max-width: 896px){
                margin: 10px 0;
                position: relative;
                padding: 1em 0;
                text-align: left;
                
                :after {
                    content: "";
                    display: block;
                    height: 2px;
                    background: linear-gradient(to right, rgb(187, 187, 187), transparent);
                }
            }
            
            a {
                font-size: 16px;
                text-decoration: none;
            }
        }
    }
}

.main {
    width: 100%;
    position: relative;
    
    &-inner {
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 55px 0px 100px;
    }
    
    $color: #2194E0;
    
    @keyframes sheen {
      0% {
        transform: skewY(-45deg) translateX(0);
      }
      100% {
        transform: skewY(-45deg) translateX(12.5em);
      }
    }

    &-start {
        display: block;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media screen and (max-width: 480px){
            position: relative;
            text-align: center;
            margin-top: 30px;
            top: 0;
            left: 0;
            transform: none;
        }
    }
    .start-btn {
        padding: 0.75em 2em;
        text-align: center;
        text-decoration: none;
        color: $color;
        border: 2px solid $color;
        font-size: 24px;
        display: inline-block;
        border-radius: 0.3em;
        transition: all 0.2s ease-in-out;
        position: relative;
        overflow: hidden;
        background: rgba(255,255,255,0.5);
        @media screen and (max-width: 896px) {
            padding: 0.4em 1em;
        }
        
        &:before {
            content: "";
            background-color: rgba(255,255,255,0.5);
            height: 100%;
            width: 3em;
            display: block;
            position: absolute;
            top: 0;
            left: -4.5em;
            transform: skewX(-45deg) translateX(0);
            transition: none;
        }
      
        &:hover {
            background-color: $color;
            color: #fff;
            border-bottom: 4px solid darken($color, 10%);
        
            &:before {
                transform: skewX(-45deg) translateX(13.5em);
                transition: all 0.5s ease-in-out;
            }
        }
    }
}

.feature {
    &-top {
        text-align: center;
        width: 73%;
        font-size: 28px;
        padding: 0.2em 0.5em;
        margin: 0 auto;
        color: #565656;
        background: #ffeaea;
        box-shadow: 0px 0px 0px 10px #ffeaea;
        border: dashed 2px #ffc3c3;
        border-radius: 8px;
        @media screen and (max-width: 1024px){
            font-size: 20px;
        }
        @media screen and (max-width: 480px){
            width: 85%;
            font-size: 17px;
            text-align: left;
        }
    }
  
    &-inner {
        margin-top: 170px;
    }
    
    &-content-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px 93px 20px;
        opacity: 0;
        transform: translate(0, 50%);
        transition: all 500ms;
        @media screen and (max-width: 1024px) {
        display: block;
        width: 70%;
        margin: 100px auto;
        }
        @media screen and (max-width: 896px){
            width: 90%;
        }
        @media screen and (max-width: 480px){
            width: 93%;
        }
        
        &-ttx {
            
            h2 {
                position: relative;
                padding-left: 25px;
                font-size: 24px;
                line-height: 1.8;
                margin-bottom: 54px;
                @media screen and (max-width: 896px){
                    font-size: 22px;
                }
                @media screen and (max-width: 480px){
                    font-size: 18px;
                }
            }
                
            h2:before {
                position: absolute;
                content: '';
                bottom: -3px;
                left: 0;
                width: 0;
                height: 0;
                border: none;
                border-left: solid 15px transparent;
                border-bottom: solid 10px rgb(187, 187, 187);
            }
            
                h2:after {
                position: absolute;
                content: '';
                bottom: -3px;
                left: 10px;
                width: 100%;
                border-bottom: solid 1px rgb(187, 187, 187);
            }
            
            span {
                font-size: 50px;
                color: #8b4513;
                @media screen and (max-width: 896px){
                    font-size: 30px;
                }
                @media screen and (max-width: 480px){
                    font-size: 21px;
                }
            }
            
            p {
                line-height: 1.5;
                font-size: 20px;
                @media screen and (max-width: 896px){
                    font-size: 18px;
                }
                @media screen and (max-width: 480px){
                    font-size: 15px;
                }
            }
        }
        
        @media screen and (max-width: 1024px) {
            img {
                display: none;
            }
        }
    }

    .active {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
    }
    
    &-bottom {
        text-align: center;
        font-size: 30px;
        padding-top: 40px;
        position: relative;
        @media screen and (max-width: 896px){
            margin-bottom: 50px;
        }
        
        &-box {
            position: absolute;
            top: 37%;
            left: 31%;
            background: rgba(225,225,225,0.75);
            padding: 30px;
            @media screen and (max-width: 1024px) {
                top: 32%;
                left: 25%;
            }
            @media screen and (max-width: 896px){
                display: contents;
                
                p {
                    font-size: 20px;
                }
            }
        }
        
        $color: #2194E0;
    
        @keyframes sheen {
            
            0% {
                transform: skewY(-45deg) translateX(0);
            }
            100% {
                transform: skewY(-45deg) translateX(12.5em);
            }
        }

        &-start {
            display: block;
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            @media screen and (max-width: 480px){
                position: relative;
                text-align: center;
                margin-top: 30px;
                top: 0;
                left: 0;
                transform: none;
            }
        }
        
        .start-btn {
            padding: 0.75em 2em;
            text-align: center;
            text-decoration: none;
            color: $color;
            border: 2px solid $color;
            font-size: 24px;
            display: inline-block;
            border-radius: 0.3em;
            transition: all 0.2s ease-in-out;
            position: relative;
            overflow: hidden;
            background: rgba(255,255,255,0.5);
            @media screen and (max-width: 896px) {
                padding: 0.4em 1em;
            }
            
            &:before {
                content: "";
                background-color: rgba(255,255,255,0.5);
                height: 100%;
                width: 3em;
                display: block;
                position: absolute;
                top: 0;
                left: -4.5em;
                transform: skewX(-45deg) translateX(0);
                transition: none;
            }
          
            &:hover {
                background-color: $color;
                color: #fff;
                border-bottom: 4px solid darken($color, 10%);
                
                &:before {
                    transform: skewX(-45deg) translateX(13.5em);
                    transition: all 0.5s ease-in-out;
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: 55px;
    
    &-inner {
        margin: 5px 20px;
        height: 100%;
        display: flex;
        align-items: flex-end;
    }
    
    a {
        font-size: 16px;
        margin-right: 30px;
        text-decoration: none;
    }
}