body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  margin: 0;
  font-size: 62.5%;
  color: #333; }

a {
  color: #333; }

li {
  list-style: none; }

.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 55px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff; }
  @media screen and (max-width: 896px) {
    .header {
      height: 63px; } }
  .header-inner {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; }
    @media screen and (max-width: 896px) {
      .header-inner {
        display: inline; } }
    .header-inner img {
      width: 200px;
      height: 50px;
      margin-left: 20px; }
      @media screen and (max-width: 896px) {
        .header-inner img {
          width: 150px;
          height: 35px;
          margin: 0;
          margin-top: 13px; } }
  .header button {
    display: none; }
  @media screen and (max-width: 896px) {
    .header #header-btn {
      display: inline;
      position: absolute;
      top: 10px;
      right: 25px;
      background-color: transparent;
      border: none;
      cursor: pointer; }
      .header #header-btn img {
        width: 40px;
        height: 40px; } }
    @media screen and (max-width: 896px) and (max-width: 896px) {
      .header #header-btn img {
        margin: 0; } }

  .header ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px; }
    @media screen and (max-width: 896px) {
      .header ul {
        display: none;
        list-style: none;
        margin: 0;
        background: #fff; } }
    .header ul li {
      text-align: center;
      margin-left: 45px; }
      @media screen and (max-width: 896px) {
        .header ul li {
          margin: 10px 0;
          position: relative;
          padding: 1em 0;
          text-align: left; }
          .header ul li :after {
            content: "";
            display: block;
            height: 2px;
            background: linear-gradient(to right, #bbbbbb, transparent); } }
      .header ul li a {
        font-size: 16px;
        text-decoration: none; }

.main {
  width: 100%;
  position: relative; }
  .main-inner {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 55px 0px 100px; }
@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0); }
  100% {
    transform: skewY(-45deg) translateX(12.5em); } }
  .main-start {
    display: block;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media screen and (max-width: 480px) {
      .main-start {
        position: relative;
        text-align: center;
        margin-top: 30px;
        top: 0;
        left: 0;
        transform: none; } }
  .main .start-btn {
    padding: 0.75em 2em;
    text-align: center;
    text-decoration: none;
    color: #2194E0;
    border: 2px solid #2194E0;
    font-size: 24px;
    display: inline-block;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5); }
    @media screen and (max-width: 896px) {
      .main .start-btn {
        padding: 0.4em 1em; } }
    .main .start-btn:before {
      content: "";
      background-color: rgba(255, 255, 255, 0.5);
      height: 100%;
      width: 3em;
      display: block;
      position: absolute;
      top: 0;
      left: -4.5em;
      transform: skewX(-45deg) translateX(0);
      transition: none; }
    .main .start-btn:hover {
      background-color: #2194E0;
      color: #fff;
      border-bottom: 4px solid #1977b5; }
      .main .start-btn:hover:before {
        transform: skewX(-45deg) translateX(13.5em);
        transition: all 0.5s ease-in-out; }

.feature-top {
  text-align: center;
  width: 73%;
  font-size: 28px;
  padding: 0.2em 0.5em;
  margin: 0 auto;
  color: #565656;
  background: #ffeaea;
  box-shadow: 0px 0px 0px 10px #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 8px; }
  @media screen and (max-width: 1024px) {
    .feature-top {
      font-size: 20px; } }
  @media screen and (max-width: 480px) {
    .feature-top {
      width: 85%;
      font-size: 17px;
      text-align: left; } }
.feature-inner {
  margin-top: 170px; }
.feature-content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 93px 20px;
  opacity: 0;
  transform: translate(0, 50%);
  transition: all 500ms; }
  @media screen and (max-width: 1024px) {
    .feature-content-box {
      display: block;
      width: 70%;
      margin: 100px auto; } }
  @media screen and (max-width: 896px) {
    .feature-content-box {
      width: 90%; } }
  @media screen and (max-width: 480px) {
    .feature-content-box {
      width: 93%; } }
  .feature-content-box-ttx h2 {
    position: relative;
    padding-left: 25px;
    font-size: 24px;
    line-height: 1.8;
    margin-bottom: 54px; }
    @media screen and (max-width: 896px) {
      .feature-content-box-ttx h2 {
        font-size: 22px; } }
    @media screen and (max-width: 480px) {
      .feature-content-box-ttx h2 {
        font-size: 18px; } }
  .feature-content-box-ttx h2:before {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 15px transparent;
    border-bottom: solid 10px #bbbbbb; }
  .feature-content-box-ttx h2:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 10px;
    width: 100%;
    border-bottom: solid 1px #bbbbbb; }
  .feature-content-box-ttx span {
    font-size: 50px;
    color: #8b4513; }
    @media screen and (max-width: 896px) {
      .feature-content-box-ttx span {
        font-size: 30px; } }
    @media screen and (max-width: 480px) {
      .feature-content-box-ttx span {
        font-size: 21px; } }
  .feature-content-box-ttx p {
    line-height: 1.5;
    font-size: 20px; }
    @media screen and (max-width: 896px) {
      .feature-content-box-ttx p {
        font-size: 18px; } }
    @media screen and (max-width: 480px) {
      .feature-content-box-ttx p {
        font-size: 15px; } }
  @media screen and (max-width: 1024px) {
    .feature-content-box img {
      display: none; } }
.feature .active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); }
.feature-bottom {
  text-align: center;
  font-size: 30px;
  padding-top: 40px;
  position: relative; }
  @media screen and (max-width: 896px) {
    .feature-bottom {
      margin-bottom: 50px; } }
  .feature-bottom-box {
    position: absolute;
    top: 37%;
    left: 31%;
    background: rgba(225, 225, 225, 0.75);
    padding: 30px; }
    @media screen and (max-width: 1024px) {
      .feature-bottom-box {
        top: 32%;
        left: 25%; } }
    @media screen and (max-width: 896px) {
      .feature-bottom-box {
        display: contents; }
        .feature-bottom-box p {
          font-size: 20px; } }
@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0); }
  100% {
    transform: skewY(-45deg) translateX(12.5em); } }
  .feature-bottom-start {
    display: block;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media screen and (max-width: 480px) {
      .feature-bottom-start {
        position: relative;
        text-align: center;
        margin-top: 30px;
        top: 0;
        left: 0;
        transform: none; } }
  .feature-bottom .start-btn {
    padding: 0.75em 2em;
    text-align: center;
    text-decoration: none;
    color: #2194E0;
    border: 2px solid #2194E0;
    font-size: 24px;
    display: inline-block;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5); }
    @media screen and (max-width: 896px) {
      .feature-bottom .start-btn {
        padding: 0.4em 1em; } }
    .feature-bottom .start-btn:before {
      content: "";
      background-color: rgba(255, 255, 255, 0.5);
      height: 100%;
      width: 3em;
      display: block;
      position: absolute;
      top: 0;
      left: -4.5em;
      transform: skewX(-45deg) translateX(0);
      transition: none; }
    .feature-bottom .start-btn:hover {
      background-color: #2194E0;
      color: #fff;
      border-bottom: 4px solid #1977b5; }
      .feature-bottom .start-btn:hover:before {
        transform: skewX(-45deg) translateX(13.5em);
        transition: all 0.5s ease-in-out; }

.footer {
  width: 100%;
  height: 55px; }
  .footer-inner {
    margin: 5px 20px;
    height: 100%;
    display: flex;
    align-items: flex-end; }
  .footer a {
    font-size: 16px;
    margin-right: 30px;
    text-decoration: none; }

/*# sourceMappingURL=top.css.map */
